.whisp {
  margin-left: 3vw;
}
.slider h2 {
  text-align: center;
  margin-top: 2vw;
}
.fab {
  color: rgba(0,0,0,0.6);
  font-family: 'FontAwesome' !important;
  font-style: normal;
  font-size: 3vw;
}
.fab:hover {
  color: rgba(0,0,0,0.4);
  font-family: 'FontAwesome' !important;
  font-style: normal;
}
.sld-title {
  text-align: center;
  font-size: 1.5vw;
  margin-top: 1vw;
  color: white;
  font-family: 'Lato';
  font-weight: 100;
}
.second .sld-title {
  color: black;
  margin-top: 41vw;
  font-weight: 400;
}
.web-proto {
  width: 60%;
}
